@import "../../scss/fonts";
@import "../../scss/colors";

.de-files_container {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  font-family: $code;
  .de-file {
    flex: 1;
    cursor: pointer;
    padding: 8px;
    background-color: $grey;
    color: $white;
    border-right: $black 4px solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }

    & > svg {
      margin-right: 4px;
    }

    &:hover {
      background-color: $greyLight;
    }

    &.active {
      background-color: $black;
    }
  }
}
