@import "./scss/colors";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  min-height: 100%;
}

* {
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: $black;
  }
  &::-webkit-scrollbar-thumb {
    background: #4b4b4b;
    border-radius: 8px;
    &:hover {
      background: #606060;
    }
  }
}
